@charset "utf-8";

html, body										{width:100%; height:100%; min-height:100%;}

body, ol, ul, li, dl, dt, dd, blockquote, fieldset, h1, h2, h3, h4, h4, h5, h6, pre, form, textarea, p, div
											{margin:0; padding:0;}
address, caption, cite, code, dfn, em, strong, var
											{font-style:normal; font-weight:normal;}
b, strong										{font-weight:bold;}
a											{color:#666; border:0; text-decoration:none;}
ol, ul											{list-style-type:none;}
hr											{display:none;}
li, img										{border:0; vertical-align:top; line-height:1;}
fieldset										{border:0; display:block;}
legend										{margin-left:-7px; position:absolute; visibility:hidden;}
table											{table-layout:fixed; border-collapse:collapse;}
caption										{display:none;}
input											{font:normal normal 12px/1.5 dotum, gulim, arial; color:#666;}

.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}

body {font:normal normal 12px/1.5 dotum; color:#262323;}
h2.box {border:1px solid #6c6eaf; background:url("../images/box_bg.gif") repeat-x 0 0; padding:8px 0 8px 14px; font-size:0; line-height:1;text-align:left !important;}
h3.tit {color:#557781; font-size:14px; margin-bottom:5px; text-align:left !important;}
input[type="text"] {border:1px solid #dfdcdc; width:160px; height:18px;}

input.inputTxt2 {width:129px;}
p.page {text-align:center; padding:20px 0 0 0;}
p.fileBtn {text-align:right; padding:10px 0 0 0;}

.mt35 {margin-top:35px;}
.mt10 {margin-top:10px;}

#wrap {width:1000px; margin:0 auto; color:#504f4f;}
#header {width:1000px; position:relative; padding:80px 0 33px 0; background:url("../images/header_bg.gif") repeat-x 0 0;}
#contents {width:1000px; padding:35px 0 0 0;}
#footer {width:1000px;}

#header h1 {float:left; padding:0 90px 0 7px; font-size:0; line-height:1;}
#header ul {float:left; padding:5px 0 0 0;}
#header ul li {float:left; padding:0 0 0 50px; font-size:0; line-height:1;}
#header p {position:absolute; top:22px ; right:9px;}
#header p a {margin-left:16px; vertical-align:top; position:relative; top:-3px;}

.seachTable1 {background-color:#f4f4f4; padding:10px 7px; margin:11px 0 13px 0;}
.seachTable1 .seachBtn1 {text-align:center; padding:10px 0 0 0;}
.seachTable1 .seachBtn1 a{margin:0 5px;}

.seachTable2 {background-color:#f4f4f4; padding:10px 7px; margin:0 0 13px 0;}
.seachTable2 .seachBtn1 {text-align:center; padding:10px 0 0 0;}
.seachTable2 .seachBtn1 a{margin:0 5px;}


table.table_V1 {width:100%;}
table.table_V1 th {border:1px solid #c6d7e0; padding:7px 2px 8px 2px; background-color:#f1f8fb; text-align:center !important; font-weight:bold; color:#216193;}
table.table_V1 td {border:1px solid #c6d7e0; padding:0 0 0 8px; background-color:#fff; text-align:left !important;}

table.table_V2 {width:100%;}
table.table_V2 th {border:1px solid #c6d7e0; padding:7px 0 8px 0; background-color:#f1f8fb; text-align:center !important; font-weight:bold;}
table.table_V2 td {border:1px solid #c6d7e0; padding:7px 0 8px 0; text-align:center !important;}
table.table_V2 td.txt {text-align:left; padding:7px 0 8px 10px;}
table.table_V2 td.sum {text-align:right; padding:7px 10px 8px 0;}

p.anBtn {text-align:center; padding:19px 0 0 0;}
p.anBtn a {margin:0 5px;}


.seachTable1 .tableZone {float:left; width:640px;}
.seachTable1 .btn {float:right;}
.seachTable1 .btn1 {float:left; padding:7px 0 8px 10px;}

.management .left{float:left; width:490px;}
.management .right{float:right; width:490px;}


#popwrap {width:780px; margin:0 auto;}
#popwrap h1 {border:1px solid #6c6eaf; background:url("../images/box_bg.gif") repeat-x 0 0; padding:8px 0 8px 14px; font-size:0; line-height:1;}
.popSeachBox {text-align:center;}
.popSeachBox input{vertical-align:top;}
.popSeachBox select {vertical-align:top;}